nav a{
    padding: 20px;
    padding-bottom: 6px;
    font-size: 1.5em;
    text-decoration: none; /*removes underline*/
    color: gold; /*links are blue by default*/
}

nav a:hover, #current{ /*This is a pseudo class*/
    border-bottom: 3px gold solid;
    border-top: 3px gold solid;
    border-left: 3px dotted;
    border-right: 3px dotted;
    font-size: 2em;
    transition: .9s;
}

#current{
    color: red;
}

body{
    /*background-image: url(../../../hw1/img/hashback.jpg);*/
    background-color:#093377;
    color:white;
}

header, nav, footer, #front{
    text-align: center;
    width:960px;

    margin: 0 auto;
}

#frontpage{
    border-top: 0.4rem outset gold;
    border-bottom: 0.4rem outset gold;
    border-radius: 12px;
}

#setaside{
    float:right;
}

h1{
    font-family: 'Major Mono Display', cursive;
    font-size: 4em;
    margin-bottom: 30px;
}

div{
    outline: 0.5rem dotted gold;
    margin: 4rem;
    padding: 2rem;
    outline-offset: 0.5rem;
}

p{
    font-size: 150%;
}

#list{
    color: gold;
}

#sourcelist{
      background: gold;
      padding: 5px;
      margin-left: 35px;
}
#sourcetext{
    color: #093377;
}

#listmarker{
    list-style-type: circle;
}

#links:link{
    color: #093377;
    font-size: 150%
}

#links:visited{
    color: red;
    font-size: 150%
}

#links:hover{
    color:green;
    font-size: 150%
}

#shrink{
    width: 10%;
    height: 10%;
}